import type { Meta, StoryObj } from '@storybook/react-vite'

const {{pascalCase name}} = () => {
  return (
    <div className='bg-gray-100 p-4'>
      This is a test component from the Storybook app.
    </div>
  )
}

const meta = {
  title: '{{pascalCase name}}',
  component: {{pascalCase name}},
  tags: ['autodocs'],
} satisfies Meta<typeof {{pascalCase name}}>

export default meta

type Story = StoryObj<typeof {{pascalCase name}}>

export const Playground: Story = {}
